.siteHeader {
  position: relative;
  background: var(--colour-primary);
  color: var(--colour-white);
  padding-inline: var(--spacing-small);
  padding-block: 4vmin;
}

.siteHeader::after {
  content: "";
  display: block;
  position: absolute;
  top: 90%;
  width: 100%;
  inset-inline: 0;
  background: transparent url('/images/decorative/chocolate-wave-simple.svg') no-repeat;
  background-size: cover;
  background-position-y: bottom;
  height: 18px;
}

.headerUI {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 920px;
}

.brand {
  display: flex;
  align-items: center;
}

.logomark {
  width: 64px;
  padding-block: var(--spacing-small);
  transform: rotate(-7deg) translateX(3px);
}

.brandType {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;
  padding: 10px;
  color: var(--colour-white);
}

.siteNav {
  display: flex;
  gap: var(--spacing-small);
}

.navLink {
  background: var(--colour-primary-light);
  border-radius: 12px;
  padding: var(--spacing-small) var(--spacing-small);
  font-size: 0.9rem;
  font-weight: bold;
  transition: background 0.2s linear;
}
.navLinkActive {
  background: var(--colour-secondary);
  color: var(--colour-secondary-dark);
}
.navLink:not(.navLinkActive):hover {
  background: rgb(0 0 0 / 16%);
}